* {
    box-sizing: border-box;
  }
  
/* Clear floats after the columns */
.col-container {
    display: table;
}

/* Create three equal columns that floats next to each other */
.col {
    width: 33.33%;
    padding: 10px;
    display: table-cell;
    text-align: justify;
    background-color: white;
}
  
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }  
}

/* Image blur shadow */
.pic {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}